// Footer

.contact {
  background-color: #f6fafe;
  padding-top: 20px;
  padding-bottom: 10px;
  &-heading {
    color: $--primary-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 200%;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  address {
    ul li {
      font-family: "Montserrat", sans-serif;
      line-height: 156%;
      letter-spacing: -0.015em;
      color: #464646;
      font-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        color: #464646;
      }
    }
  }
  .social {
    display: flex;
    gap: 0 15px;
    margin-bottom: 10px;
    margin-left: 26px;
  }

  .license {
    font-family: "Montserrat", sans-serif;
    line-height: 156%;
    letter-spacing: -0.015em;
    color: #464646;
  }
}
